.container{
    margin-top: 10%;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
}
.heading{
   display: flex;
   align-items: center;
   justify-content: center;
}
.heading h1{
    background-color: #AEDEFC;
    padding: 15px;
    transform: rotate(2deg);
    border-radius: 10px;
    margin-top: 5%;
}
form{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9%;
}
form input{
    flex: 1;
    outline: 0;
    border: 0;
    border-bottom: 1px dotted #1A2A4F;
    padding: 10px;
}

form button{
    width: 70px;
    padding:15px;
    border-radius: 10px;
    background: orange;
    border: 0;
    outline: 0;
}
.container ul{
    margin-left: 12%;
}

@media screen and (max-width: 750px){
    .container{
        width: 400px;
        max-height: 80vh;
    }
}