*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FDEDED;
  font-family: 'Noto Sans Syriac', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}